// ======== 全局变量 ========
$color-red: #f74f4f;
$color-line-white: #f1f3f4;
$color-gold: #dbbb76;
$color-light-gold: #f4e3cb;
$color-grey: #a2a2a2;
$color-light-grey: #eeedf0;
$color-default: #1f2225;
$color-primary: #187bd1;
$color-white: #ffffff;
$color-success: #52c41a;
$color-warn: #faad14;
$color-error: $color-red;
$color-blue-bg: #f1f8ff;
$color-grey-bg: #f9f9f9;

// 主题色
$color-theme: #16caa6;
